/*
GLOBAL
*/
@font-face {
    font-family: plant;
    src: url(../assets/starlight\ demo.ttf);
}

*{
    font-family: 'Mulish';
    font-family: 'Merriweather', serif;
    margin: 0;
    padding: 0;
}

h3{
    font-family: 'Merriweather', serif;
    font-size: 1.3rem;
    font-weight: 700;
}

/*header*/
/*scss*/
.header__span{
    font-size: 0.7rem;
    background-color: #5f9ea078;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    width: 100%;
    padding: 0.6em;
}
.header__span p {
    color: #040404;
    margin: 0;
    font-size: 0.8em;
    letter-spacing: 10px;
}
/*scss*/
.navbar .navbar-nav .nav-link::after{
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #2ecc71;
    transition: 0.3s;
}
.navbar .navbar-nav .nav-link:hover::after{
    width: 60%;
    height: 2px;
    background: #2ecc71;
    transition: 0.3s;
    border-bottom: 2px solid #27ae60;
}  
/*scss*/ 
.btn__contact a{
    align-items: end;
    margin: 30px;   
}
/*scss*/



/*Main*/
.sidebar{
background: #649173; 
background: -webkit-linear-gradient(to left, #DBD5A4, #649173); 
background: linear-gradient(to left, #DBD5A4, #649173); 

}
.featured .row .one{
    height: 300px;
}  
.featured .row .one img{
    width: 100%;
    height: 100%;
    background-size: cover;
    box-sizing: border-box;
    object-fit: cover;
}

.featured .row .one .text p{
    letter-spacing: 10px; 
}

.sub__title p{
    font-size: 18px;
    background-color: #5f9ea078;
    text-align: center;
    letter-spacing: 3px;
    width: 100%;
}
.blog__sub{
    font-size: 25px;
    color: #03533c;
    text-decoration: solid;
    
}
/*Button Read me*/
button {
    margin: 20px;
    font-size: small;
  }

  .custom-btn {
    width: 120px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }
  
  /* 1 */
  .btn-1 {
    background: rgb(6,14,131);
    background: linear-gradient(0deg, rgb(15, 163, 151) 0%, rgb(8, 123, 152) 100%);
    border: none;
  }
  .btn-1:hover {
    background: rgb(0,3,255);
    background: linear-gradient(0deg, rgba(0,3,255,1) 0%, rgba(2,126,251,1) 100%);
  }

.form  {
    background: #4667518c;
    width: 700px;
    height: 370px;
    border-radius: 15px;
    font-size: 20px;
    
}

/*footer*/
.footer_social{
    background-color: #5f9ea078;
    color: #ffffff;
    display: flex;
    align-items: center; 
    justify-content: space-around;
    height: 5rem;
}
