//Variables
/* Almacenar informacion en una palabra clave*/

//Colores
$green: #478978;
$fondo: rgb(239, 214, 183);


//Font
$font-merriw: 'Merriweather', serif;
$font-mulish: 'Mulish';
$font-size: 1.3rem;
$font-weight: 700;

//Detalles