/*
Components header
*/
.header {
    &__span {
        font-size: 0.7rem;
        background-color: #5f9ea078;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 3px;
        width: 100%;
        padding: 0.6em;

        p {
        color: #040404;
        margin: 0;
        font-size: 0.8em;
        letter-spacing: 10px;
        }
    }
}

.btn{
    &__contact{
        a{
            align-items: end;
            margin: 30px;
        }
    }
}
